.navbar-float {
   position: fixed;
   z-index: 1;
   background-color: var(--text-color);
   height: 4.33rem;
   width: 100vw;
   left: 0;


   .navbar-container {
      display: flex;
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      min-height: 2.66rem;
      color: var(--bg-color);
      padding: 1rem;

      @media screen and (max-width: 870px) {
         justify-content: center;
      }

      h2 {
         margin-bottom: 0;
         color: var(--bg-color);
      }

      .hamburger {
         display: none;

         .material-icons {
            font-size: 2rem;
            cursor: pointer;
         }

         @media screen and (max-width: 870px) {
            display: block;
            position: absolute;
            left: 1rem;
            font-size: 2rem;
         }
      }

      .right-side {
         display: flex;
         align-items: center;
         color: var(--bg-color);
         gap: 1.33rem;
         padding-right: 1rem;

         .guest,
         .logged,
         a {
            color: var(--bg-color);
            gap: 1rem;
            align-items: center;
            display: flex;
         }

         @media screen and (max-width: 870px) {
            transition: all 150ms ease-out;
            transform: translateX(-100%);

            &.mobile-menu-open {
               transform: none;
            }

            position: absolute;
            top: 4.33rem;
            left: 0;
            gap: 2rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: var(--text-color);

            padding: 1rem;
            padding-top: 2rem;
            width: 80%;
            height: 100vh;
            z-index: 1;

            .guest,
            .logged,
            a {
               color: var(--bg-color);
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               gap: 2rem;
               margin-left: 0;
            }

         }

      }

   }
}