.distortions-grid-container {
   display: grid;
   margin: 1.33rem 0;
   gap: 1rem;

   max-width: 100%;
}

@media (min-width: 600px) {
   .distortions-grid-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 1200px) {
   .distortions-grid-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}