.tr-button {
   padding: 0.33rem 0.66rem;
   border-radius: 3rem;
   border: 1px solid var(--text-color);

   &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
   }

   &:not(.disabled):hover {
      background-color: var(--text-color);
      color: var(--bg-color);
   }


   .primary {
      background-color: var(--bg-color);
      color: var(--text-color);
   }

   .secondary {
      color: #333;
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
   }
}