.distortion-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding: 1.33rem;
   background-color: var(--secondary-color);
   border-radius: 1rem;
   transition: all 300ms ease;
   height: 100%;
   position: relative;
   border: var(--text-color) 1px solid;
   justify-content: center;

   &:hover {
      color: var(--bg-color);
      background-color: var(--text-color);
   }
}