@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.33rem;

  /*System Colors Defined Here*/
  --text-color: #141414;
  --secondary-color: #c5c5c5;
  --bg-color: #f6f6f6;
  --overlay-darkness: #222222de;
  --error-color: #E80000;
}

.App {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
  overflow-x: hidden !important;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  .content-container {
    margin-top: 5rem;
    padding: 1rem;
  }
}

h1 {
  font-size: 2.33rem;
  text-align: center;
  line-height: 3rem;
}

h2 {
  font-size: 1.66rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p,
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.33rem;
}

.caption {
  font-size: 0.66rem;
  line-height: 1rem;
}

.bold {
  font-weight: 600;
}

.error {
  margin-top: 0.66rem;
  color: var(--error-color);
  animation: nudge 500ms ease-in-out forwards;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.66rem;


  input {
    padding: 0.6rem;
    min-width: 16rem;
    border-radius: 10rem;
  }

  .tr-button {
    margin-top: 0.66rem;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);

  &.active {
    font-weight: 600;
  }
}

@keyframes nudge {
  0% {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(20px);
  }

  45% {
    transform: translateX(-16px);
  }

  52% {
    transform: translateX(10px);
  }

  55% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(2px);
  }

  61% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* On screens that are 870px or less */
@media screen and (max-width: 870px) {
  * {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: 16px;
  }

  .App {
    max-width: 100%;
  }
}

@media screen and (max-width: 330px) {
  * {
    font-size: 16px;
  }

  .App {
    /* display: none; */
    padding: 0;
  }

  .App::before {
    content: "Please give me more space...";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    z-index: 100;
  }
}

.loading {
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-height: calc(100vh - 12rem);
  width: calc(100vw - 2rem);

  @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }

  span {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 3px solid transparent;
    border-top-color: var(--text-color);
    border-bottom-color: var(--text-color);
    border-radius: 50%;
    animation: spin ease 1000ms infinite;
  }
}